*{
    padding-top: 2px;
    margin: 0 auto;
}



.nav a {
    list-style-type: none;
    text-decoration: none;
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    text-align: left;
    opacity: 0.75;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

.nav a.right_s {
    position: relative;
    list-style-type: none;
    text-decoration: none;
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    text-align: right;
    float: right;
    opacity: 0.75;
    font-family: Arial, sans-serif;
    font-size: 13px;

}

div.google_logo {
    padding-top: 109px;
    text-align: center;
    padding-bottom: 25px;
    
}

.box {
    width: 470px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(224, 224, 224);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search {
    font-size: 18px;
    color: rgb(172, 172, 172);
    padding-right: 10px;
}

.box input {
    height: 30px;
    width: 370px;
    border: none;
    font-size: 16px;
    outline: none;
}

#micro {
    font-size: 18px;
    color: rgb(172, 172, 172);
    padding-right: 10px;
    cursor: pointer;
}


#hovernow {
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow;
  }
  
#hovernow:hover {
    box-shadow: 0 2px 7px rgba(187, 187, 187, 0.8);
  }

div.buttons {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-right: 200px;
    padding-left: 200px;
}

button {
    cursor: pointer;
    user-select: none;
    line-height: 27px;
    padding: 0 16px;
    font-size: 14px;
    height: 36px;
    text-align: center;
    user-select: none;
    outline: none;
    border: none;
    
}

.footer {
    background-color: rgb(236, 235, 235);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 170px;
    width: 100%;
    overflow: 0;
}

div.UK {
    border: 1px solid rgb(216, 216, 216);
    color: rgb(117, 117, 117);
    padding-left: 30px;
    font-family: arial,sans-serif;
    text-align: left;
    display: block;
    font-size: 16px;
    line-height: 40px;
    cursor:text;
}

div.BF {
    color: rgb(95, 95, 95);
    padding-left: 30px;
    font-family: arial,sans-serif;
    text-align: center;
    display: block;
    font-size: 14px;
    line-height: 40px;
    cursor: pointer; 
}

.BF:hover {
    text-decoration: underline;
}