*{
    padding-top: 2px;
    margin: 0 auto;
}


.nav a {
    list-style-type: none;
    text-decoration: none;
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    text-align: left;
    opacity: 0.75;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

.nav a.right_s {
    position: relative;
    list-style-type: none;
    text-decoration: none;
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    text-align: right;
    float: right;
    opacity: 0.75;
    font-family: Arial, sans-serif;
    font-size: 13px;

}

div.google_logo {
    padding-top: 109px;
    text-align: center;
    padding-bottom: 25px;
    
}

.box {
    width: 470px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(224, 224, 224);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search {
    font-size: 18px;
    color: rgb(172, 172, 172);
    padding-right: 10px;
}

.box input {
    height: 30px;
    width: 370px;
    border: none;
    font-size: 16px;
    outline: none;
}

#micro {
    font-size: 18px;
    color: rgb(172, 172, 172);
    padding-right: 10px;
    cursor: pointer;
}


#hovernow {
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow;
  }
  
#hovernow:hover {
    box-shadow: 0 2px 7px rgba(187, 187, 187, 0.8);
  }
